.feed__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.feed__box__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 20px 10px;
    border-bottom: 1px solid #dadada;
}

.feed__box__content__avatar {
    width: 75px;
    height: 75px;
    min-width: 75px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;

}

.feed__box__content__avatar>img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.feed__box__content__input {
    width: 100%;
}

.feed__box__content__input {
    width: 100%;
    font-size: 1.5rem;
    padding: 12px 30px;
    border-radius: 25px;
    outline: none;
    border: none;
}

.feed__box__content__input:focus {
    border: 1px solid #00d0ff;
}

.feed__box__content__btn {
    margin-left: 10px;
    outline: none;
    background-color: #00d0ff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 20px;
}

.feed__box__option {
    display: none;
    align-items: center;
    margin: 12px auto;

}

.feed__box__option__item i {
    font-size: 2rem;
    margin: 0 20px;
    padding: 12px;
    cursor: pointer;
    border-radius: 0.5rem;
}

.feed__box__option__item i:hover {
    background-color: #d3d3d38a;
}