.content {
    flex: 0.4;
    overflow-y: scroll;
    min-width: fit-content;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

.content__header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: flex-center;
    padding: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #dadada;
    background-color:white;
}