.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 2.125rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.login__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}

.login__btn {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  outline: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0.25rem;
}

.login__btn__icon {
  display: grid;
  place-items: center;
  font-size: 2rem;
  margin-right: 5px;
}

.login__btn__text {
  font-size: 20px;
}