* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

.app {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: unset;
}

ul {
    list-style-type: none;
}

.d-block {
    display: block;
}